{#
    extra_footage() macro will take the caller's content and it will put
    it into a "extra footage" box.

    Example:

        {% call extra_footage() %}
        Foo bar

        Bla bla
        {% endcall %}

#}
{% macro extra_footage(title='Extra footage') -%}
{{ _boxes__extra_footage_begin(title=title) }}
{{ caller() }}
{{ _boxes__extra_footage_end() }}
{%- endmacro %}


