
{#
    graphviz() macro will take the caller's content, which
    it is expected to be a graph in 'dot' notation wrapped in a
    fenced-code block, and it will return Latex code that draws
    the graph using Tikz.

    Example:

        {% call graphviz() %}
        ```dot
        digraph G {
            a_1-> a_2 -> a_3 -> a_1;
        }
        ```
        {% endcall %}

#}
{% macro fig(path, position="here", captionpos="bottom", figparams={}, wrapsize='0.25\\textwidth') -%}
{{ figure_fig(path=path, position=position, caption=caller(),
    captionpos=captionpos, figparams=figparams, wrapsize=wrapsize) }}
{%- endmacro %}

