
{#
    fig() macro will take the caller's content as the caption
    of an image/figure to include.
    Example:

        {% call fig(path) %}
        Foo bar
        {% endcall %}

#}
{% macro fig(path, position="here", captionpos="bottom", label=None, figparams={}, wrapsize='0.25\\textwidth') -%}
{{ _figures__fig(path=path, position=position, caption=caller(), label=label,
    captionpos=captionpos, figparams=figparams, wrapsize=wrapsize) }}
{%- endmacro %}

